on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: "1.56.0"
          profile: minimal
          components: rustfmt, clippy
          override: true
      - run: cargo fmt --all -- --check && cargo clippy --workspace -- -D warnings
      - run: cargo test
